* { margin: 0; padding: 0; }
html { font-size: 1rem; }
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5rem;
}
a { transition: 0.2s; text-decoration: none; }
a:hover { cursor: pointer; }
hr { border: none; }
.list-style-off { list-style: none; }
.selection-off {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input, textarea, select, button, input[type=reset], input[type=submit], fieldset {
    display: block;
    font: inherit;
    line-height: inherit;
    box-sizing: border-box;
    transition: 0.2s;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
}
fieldset {
    padding: 1.5rem;
    margin-bottom: 3rem;
}
fieldset legend {
    padding: 0 0.25rem;
}
input[type=radio], input[type=checkbox] {
    display: inline-block;
    padding: 0.5rem;
    position: relative;
    vertical-align: text-top;
    cursor: pointer;
    margin-right: 0.25rem;
}
input[type="checkbox"], input[type="checkbox"] + label, input[type="radio"], input[type="radio"] + label {
    cursor: pointer;
}
input[type=radio], input[type=radio]:checked:after {
    border-radius: 50%;
}
input[type=radio]:checked:after, input[type=checkbox]:checked:after {
    content: "";
    display: block;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 0.5rem;
    height: 0.5rem;
}
input[type=checkbox]:checked:after {
    border-radius: 0.125em;
}
button, input[type=reset], input[type=submit], .button {
    cursor: pointer;
    border: none;
    padding: 0.25rem 1.5rem;
}
.button {
    display: inline-block;
    border-radius: 0.25rem;
}
input[type=file] {
    font-size: 16px;
    line-height: 0;
}
input, input:focus, textarea, select, datalist {
    outline: none;
    -webkit-appearance: none;
}
select:not([multiple]) {
    padding-right: 2rem;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 1rem top 0.9rem, right 0.75rem top 0.9rem;
    background-size: 0.25rem 0.25rem, 0.25rem 0.25rem;
}
textarea {
    font: inherit;
    display: block;
    resize: none;
}
textarea.xl { height: 20rem; }
textarea.l { height: 12rem; }
textarea { height: 8rem; }
textarea.s { height: 6rem; }
textarea.xs { height: 4rem; }


h1, .h1 { font-size: 2.25rem; line-height: 3rem; }
h2, .h2 { font-size: 1.75rem; line-height: 2.5rem; }
h3, .h3 { font-size: 1.5rem; line-height: 2.25rem; }
h4, .h4 { font-size: 1.25rem; line-height: 2rem; }
h5, .h5 { font-size: 1.125rem; line-height: 1.875rem; }
h6, .h6 { font-size: 0.875rem; line-height: 1.5625rem; }
p, .p { font-size: 1rem; line-height: 1.5rem; }
pre { font-size: 0.875rem; line-height: 1rem; }

.text-size-xl { font-size: 2rem; line-height: 3rem; }
.text-size-l { font-size: 1.5rem; line-height: 2.5rem; }
.text-size { font-size: 1rem; line-height: 1.5rem; }
.text-size-s { font-size: 0.9rem; line-height: 1.4rem; }
.text-size-xs { font-size: 0.75rem; line-height: 1.2rem; }

.text-align-center { text-align: center; }
.text-align-left { text-align: left; }
.text-align-right { text-align: right; }

* + h1, * + .h1 { margin-top: 4.5rem; }
* + h2, * + .h2 { margin-top: 3rem; }
* + h3, * + .h3 { margin-top: 3rem; }
* + h4, * + .h4 { margin-top: 3rem; }
* + h5, * + .h5 { margin-top: 3rem; }
* + h6, * + .h6 { margin-top: 1.5rem; }
* + p, * + .p { margin-top: 1.5rem; }

.display-block, input.display-block { display: block; }
.display-inline, input.display-inline { display: inline; }
.display-inline-block, input.display-inline-block { display: inline-block; }
.display-none, input.display-none { display: none; }

table, thead, tbody, tfoot, tr, th, td {
    display: block;
}
tr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    align-items: center;
    border-radius: 0.25rem;
    margin: 0.25rem 0rem;
    padding: 0.25rem;
}

.wrapper-full,
.wrapper-xl,
.wrapper-l,
.wrapper,
.wrapper-s,
.wrapper-xs,
.container-full,
.container-xl,
.container-l,
.container,
.container-s,
.container-xs {
    position: relative;
    display: block;
    clear: both;
    overflow: hidden;
}
.container-full,
.container-xl,
.container-l,
.container,
.container-s,
.container-xs {
    margin-left: auto;
    margin-right: auto;
}
.wrapper-full, .container-full { width: 100%; }
.wrapper-xl, .container-xl { max-width: 960px; }
.wrapper-l, .container-l { max-width: 800px; }
.wrapper, .container { max-width: 640px; }
.wrapper-s, .container-s { max-width: 480px; }
.wrapper-xs, .container-xs { max-width: 320px; }

.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-211,
.grid-221,
.grid-311,
.grid-321,
.grid-411,
.grid-421,
.grid-431,
.grid-432,
.grid-521,
.grid-531,
.grid-532 {
    display: grid;
}
.grid-211,
.grid-221,
.grid-311,
.grid-321,
.grid-411,
.grid-421,
.grid-431,
.grid-521,
.grid-531 {
    grid-template-columns: repeat(1, 1fr);
}
.grid-2,
.grid-432,
.grid-532 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-3 { grid-template-columns: repeat(3, 1fr); }
.grid-4 { grid-template-columns: repeat(4, 1fr); }
.grid-5 { grid-template-columns: repeat(5, 1fr); }
.grid-6 { grid-template-columns: repeat(6, 1fr); }
.grid-7 { grid-template-columns: repeat(7, 1fr); }
.grid-8 { grid-template-columns: repeat(8, 1fr); }
.grid-9 { grid-template-columns: repeat(9, 1fr); }
.grid-10 { grid-template-columns: repeat(10, 1fr); }
.grid-11 { grid-template-columns: repeat(11, 1fr); }
.grid-12 { grid-template-columns: repeat(12, 1fr); }

.grid-col-1 { grid-column: span 1; }
.grid-col-2 { grid-column: span 2; }
.grid-col-3 { grid-column: span 3; }
.grid-col-4 { grid-column: span 4; }
.grid-col-5 { grid-column: span 5; }
.grid-col-6 { grid-column: span 6; }
.grid-col-7 { grid-column: span 7; }
.grid-col-8 { grid-column: span 8; }
.grid-col-9 { grid-column: span 9; }
.grid-col-10 { grid-column: span 10; }
.grid-col-11 { grid-column: span 11; }
.grid-col-12 { grid-column: span 12; }

.grid-gap-xl { column-gap: 3rem; row-gap: 3rem; }
.grid-gap-l { column-gap: 2.25rem; row-gap: 2.25rem; }
.grid-gap { column-gap: 1.5rem; row-gap: 1.5rem; }
.grid-gap-s { column-gap: 0.75rem; row-gap: 0.75rem; }
.grid-gap-xs { column-gap: 0.375rem; row-gap: 0.375rem; }
.grid-gap-zero { column-gap: 0; row-gap: 0; }
.grid-gap-col-xl { column-gap: 3rem; }
.grid-gap-col-l { column-gap: 2.25rem; }
.grid-gap-col { column-gap: 1.5rem; }
.grid-gap-col-s { column-gap: 0.75rem; }
.grid-gap-col-xs { column-gap: 0.375rem; }
.grid-gap-col-zero { column-gap: 0; }
.grid-gap-row-xl { row-gap: 3rem; }
.grid-gap-row-l { row-gap: 2.25rem; }
.grid-gap-row { row-gap: 1.5rem; }
.grid-gap-row-s { row-gap: 0.75rem; }
.grid-gap-row-xs { row-gap: 0.375rem; }
.grid-gap-row-zero { row-gap: 0; }

.margin-auto { margin: auto; }
.margin-xl { margin: 3rem; }
.margin-l { margin: 2.25rem; }
.margin { margin: 1.5rem; }
.margin-s { margin: 0.75rem; }
.margin-xs { margin: 0.375rem; }
.margin-zero { margin: 0; }
.margin-vertical-auto { margin-top: auto; margin-bottom: auto; }
.margin-vertical-xl { margin-top: 3rem; margin-bottom: 3rem; }
.margin-vertical-l { margin-top: 2.25rem; margin-bottom: 2.25rem; }
.margin-vertical { margin-top: 1.5rem; margin-bottom: 1.5rem; }
.margin-vertical-s { margin-top: 0.75rem; margin-bottom: 0.75rem; }
.margin-vertical-xs { margin-top: 0.375rem; margin-bottom: 0.375rem; }
.margin-vertical-zero { margin-top: 0; margin-bottom: 0; }
.margin-top-auto { margin-top: auto; }
.margin-top-xl { margin-top: 3rem; }
.margin-top-l { margin-top: 2.25rem; }
.margin-top { margin-top: 1.5rem; }
.margin-top-s { margin-top: 0.75rem; }
.margin-top-xs { margin-top: 0.375rem; }
.margin-top-zero { margin-top: 0; }
.margin-bottom-auto { margin-bottom: auto; }
.margin-bottom-xl { margin-bottom: 3rem; }
.margin-bottom-l { margin-bottom: 2.25rem; }
.margin-bottom { margin-bottom: 1.5rem; }
.margin-bottom-s { margin-bottom: 0.75rem; }
.margin-bottom-xs { margin-bottom: 0.375rem; }
.margin-bottom-zero { margin-bottom: 0; }
.margin-horizontal-auto { margin-left: auto; margin-right: auto; }
.margin-horizontal-xl { margin-left: 3rem; margin-right: 3rem; }
.margin-horizontal-l { margin-left: 2.25rem; margin-right: 2.25rem; }
.margin-horizontal { margin-left: 1.5rem; margin-right: 1.5rem; }
.margin-horizontal-s { margin-left: 0.75rem; margin-right: 0.75rem; }
.margin-horizontal-xs { margin-left: 0.375rem; margin-right: 0.375rem; }
.margin-horizontal-zero { margin-left: 0; margin-right: 0; }
.margin-left-auto { margin-left: auto; }
.margin-left-xl { margin-left: 3rem; }
.margin-left-l { margin-left: 2.25rem; }
.margin-left { margin-left: 1.5rem; }
.margin-left-s { margin-left: 0.75rem; }
.margin-left-xs { margin-left: 0.375rem; }
.margin-left-zero { margin-left: 0; }
.margin-right-auto { margin-right: auto; }
.margin-right-xl { margin-right: 3rem; }
.margin-right-l { margin-right: 2.25rem; }
.margin-right { margin-right: 1.5rem; }
.margin-right-s { margin-right: 0.75rem; }
.margin-right-xs { margin-right: 0.375rem; }
.margin-right-zero { margin-right: 0; }

.padding-xl { padding: 3rem; }
.padding-l { padding: 2.25rem; }
.padding { padding: 1.5rem; }
.padding-s { padding: 0.75rem; }
.padding-xs { padding: 0.375rem; }
.padding-zero { padding: 0; }
.padding-vertical-xl { padding-top: 3rem; padding-bottom: 3rem; }
.padding-vertical-l { padding-top: 2.25rem; padding-bottom: 2.25rem; }
.padding-vertical { padding-top: 1.5rem; padding-bottom: 1.5rem; }
.padding-vertical-s { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.padding-vertical-xs { padding-top: 0.375rem; padding-bottom: 0.375rem; }
.padding-vertical-zero { padding-top: 0; padding-bottom: 0; }
.padding-top-xl { padding-top: 3rem; }
.padding-top-l { padding-top: 2.25rem; }
.padding-top { padding-top: 1.5rem; }
.padding-top-s { padding-top: 0.75rem; }
.padding-top-xs { padding-top: 0.375rem; }
.padding-top-zero { padding-top: 0; }
.padding-bottom-xl { padding-bottom: 3rem; }
.padding-bottom-l { padding-bottom: 2.25rem; }
.padding-bottom { padding-bottom: 1.5rem; }
.padding-bottom-s { padding-bottom: 0.75rem; }
.padding-bottom-xs { padding-bottom: 0.375rem; }
.padding-bottom-zero { padding-bottom: 0; }
.padding-horizontal-xl { padding-left: 3rem; padding-right: 3rem; }
.padding-horizontal-l { padding-left: 2.25rem; padding-right: 2.25rem; }
.padding-horizontal { padding-left: 1.5rem; padding-right: 1.5rem; }
.padding-horizontal-s { padding-left: 0.75rem; padding-right: 0.75rem; }
.padding-horizontal-xs { padding-left: 0.375rem; padding-right: 0.375rem; }
.padding-horizontal-zero { padding-left: 0; padding-right: 0; }
.padding-left-xl { padding-left: 3rem; }
.padding-left-l { padding-left: 2.25rem; }
.padding-left { padding-left: 1.5rem; }
.padding-left-s { padding-left: 0.75rem; }
.padding-left-xs { padding-left: 0.375rem; }
.padding-left-zero { padding-left: 0; }
.padding-right-xl { padding-right: 3rem; }
.padding-right-l { padding-right: 2.25rem; }
.padding-right { padding-right: 1.5rem; }
.padding-right-s { padding-right: 0.75rem; }
.padding-right-xs { padding-right: 0.375rem; }
.padding-right-zero { padding-right: 0; }

.border-xl { border-width: 16px; border-style: solid;; }
.border-l { border-width: 8px; border-style: solid;; }
.border { border-width: 4px; border-style: solid;; }
.border-s { border-width: 2px; border-style: solid;; }
.border-xs { border-width: 1px; border-style: solid;; }
.border-vertical-xl { border-top-width: 16px; border-bottom-width: 16px; border-top-style: solid; border-bottom-style: solid; }
.border-vertical-l { border-top-width: 8px; border-bottom-width: 8px; border-top-style: solid; border-bottom-style: solid; }
.border-vertical { border-top-width: 4px; border-bottom-width: 4px; border-top-style: solid; border-bottom-style: solid; }
.border-vertical-s { border-top-width: 2px; border-bottom-width: 2px; border-top-style: solid; border-bottom-style: solid; }
.border-vertical-xs { border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; }
.border-top-xl { border-top-width: 16px; border-top-style: solid; }
.border-top-l { border-top-width: 8px; border-top-style: solid; }
.border-top { border-top-width: 4px; border-top-style: solid; }
.border-top-s { border-top-width: 2px; border-top-style: solid; }
.border-top-xs { border-top-width: 1px; border-top-style: solid; }
.border-bottom-xl { border-bottom-width: 16px; border-bottom-style: solid; }
.border-bottom-l { border-bottom-width: 8px; border-bottom-style: solid; }
.border-bottom { border-bottom-width: 4px; border-bottom-style: solid; }
.border-bottom-s { border-bottom-width: 2px; border-bottom-style: solid; }
.border-bottom-xs { border-bottom-width: 1px; border-bottom-style: solid; }
.border-horizontal-xl { border-left-width: 16px; border-right-width: 16px; border-left-style: solid; border-right-style: solid; }
.border-horizontal-l { border-left-width: 8px; border-right-width: 8px; border-left-style: solid; border-right-style: solid; }
.border-horizontal { border-left-width: 4px; border-right-width: 4px; border-left-style: solid; border-right-style: solid; }
.border-horizontal-s { border-left-width: 2px; border-right-width: 2px; border-left-style: solid; border-right-style: solid; }
.border-horizontal-xs { border-left-width: 1px; border-right-width: 1px; border-left-style: solid; border-right-style: solid; }
.border-left-xl { border-left-width: 16px; border-left-style: solid; }
.border-left-l { border-left-width: 8px; border-left-style: solid; }
.border-left { border-left-width: 4px; border-left-style: solid; }
.border-left-s { border-left-width: 2px; border-left-style: solid; }
.border-left-xs { border-left-width: 1px; border-left-style: solid; }
.border-right-xl { border-right-width: 16px; border-right-style: solid; }
.border-right-l { border-right-width: 8px; border-right-style: solid; }
.border-right { border-right-width: 4px; border-right-style: solid; }
.border-right-s { border-right-width: 2px; border-right-style: solid; }
.border-right-xs { border-right-width: 1px; border-right-style: solid; }

.border-radius-full { border-radius: 9999px; }
.border-radius-xl { border-radius: 3rem; }
.border-radius-l { border-radius: 2.25rem; }
.border-radius { border-radius: 1.5rem; }
.border-radius-s { border-radius: 0.75rem; }
.border-radius-xs { border-radius: 0.375rem; }
.border-radius-zero { border-radius: 0; }

.size-auto, .size-width-auto { width: auto; }
.size-full, .size-width-full { width: 100%; }
.size-xl, .size-width-xl { width: 256px; }
.size-l, .size-width-l { width: 128px; }
.size, .size-width { width: 64px; }
.size-s, .size-width-s { width: 32px; }
.size-xs, .size-width-xs { width: 16px; }
.size-zero, .size-width-zero { width: 0; }

.size-auto, .size-height-auto { height: auto; }
.size-full, .size-height-full { height: 100%; }
.size-xl, .size-height-xl { height: 256px; }
.size-l, .size-height-l { height: 128px; }
.size, .size-height { height: 64px; }
.size-s, .size-height-s { height: 32px; }
.size-xs, .size-height-xs { height: 16px; }
.size-zero, .size-height-zero { height: 0; }

.shadow-full { box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; }
.shadow-xl { box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; }
.shadow-l { box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }
.shadow { box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; }
.shadow-s { box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; }
.shadow-xs { box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; }
.shadow-zero { box-shadow: none; }

.inner-shadow-full { box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px inset; }
.inner-shadow-xl { box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px inset, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px inset; }
.inner-shadow-l { box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px inset, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px inset; }
.inner-shadow { box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px inset, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px inset; }
.inner-shadow-s { box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px inset, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px inset; }
.inner-shadow-xs { box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px inset; }

.rotate-left-full { transform: rotate(-90deg); }
.rotate-left-xl { transform: rotate(-60deg); }
.rotate-left-l { transform: rotate(-45deg); }
.rotate-left { transform: rotate(-30deg); }
.rotate-left-s { transform: rotate(-15deg); }
.rotate-left-xs { transform: rotate(-5deg); }

.rotate-right-full { transform: rotate(90deg); }
.rotate-right-xl { transform: rotate(60deg); }
.rotate-right-l { transform: rotate(45deg); }
.rotate-right { transform: rotate(30deg); }
.rotate-right-s { transform: rotate(15deg); }
.rotate-right-xs { transform: rotate(5deg); }

.rotate-zero { transform: rotate(0deg); }

#logo img {
    width: 8rem;
    line-height: 0;
    vertical-align: bottom;
}
.nav {
    list-style: none;
    overflow: hidden;
    clear: both;
    max-height: 0;
    transition: all .2s ease-in-out;
}
.nav li {
    padding: 0.5rem 1rem;
    padding-right: 1rem;
}
#menu-icon {
   cursor: pointer;
   display: inline-block;
   float: right;
   padding: 1rem;
   position: relative;
   top: 6px;
}
#menu-icon span, #menu-icon span:before, #menu-icon span:after {
    display: block;
    border-radius: 2px;
}
#menu-icon span {
   position: relative;
   transition: background .2s ease-in-out;
   width: 20px;
   height: 2px;
}
#menu-icon span:before, #menu-icon span:after {
    content: '';
    position: absolute;
    transition: all .2s ease-in-out;
    width: 100%;
    height: 100%;
}
#menu-icon span:before {
    top: 6px;
}
#menu-icon span:after {
    top: -6px;
}
#menu-button {
    display: none;
}
#menu-button:checked ~ .nav {
    max-height: 30rem;
    padding-top: 1rem;
}
#menu-button:checked ~ #menu-icon span {
    background: transparent;
}
#menu-button:checked ~ #menu-icon span:before {
    transform: rotate(-45deg);
}
#menu-button:checked ~ #menu-icon span:after {
    transform: rotate(45deg);
}
#menu-button:checked ~ #menu-icon:not(.steps) span:before,
#menu-button:checked ~ #menu-icon:not(.steps) span:after {
    top: 0;
}

@media screen and (max-width: 599px) {
    
}
@media screen and (min-width: 600px) {
    h1, .h1 { font-size: 3rem; line-height: 4.25rem; }
    h2, .h2 { font-size: 2.3125rem; line-height: 3.4375rem; }
    h3, .h3 { font-size: 1.8125rem; line-height: 2.75rem; }
    h4, .h4 { font-size: 1.4375rem; line-height: 2.25rem; }
    
    tbody tr {
        margin: 0.25rem 0;
    }
    .grid-221,
    .grid-321,
    .grid-421,
    .grid-521 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-431,
    .grid-432,
    .grid-531,
    .grid-532 {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 900px) {
    html { font-size: 1.1rem; }
    
    .wrapper-xl, .container-xl { max-width: 900px; }
    .wrapper-l, .container-l { max-width: 804px; }
    .wrapper, .container { max-width: 756px; }
    .wrapper-s, .container-s { max-width: 640px; }
    .wrapper-xs, .container-xs { max-width: 480px; }

    .grid-211,
    .grid-221 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-311,
    .grid-321 {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-411,
    .grid-421,
    .grid-431,
    .grid-432 {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-521,
    .grid-531,
    .grid-532 {
        grid-template-columns: repeat(5, 1fr);
    }
    
    .nav {
        clear: none;
        float: right;
        max-height: none;
        padding-top: 0;
    }
    .nav li {
        float: left;
        padding: 0.5rem;
    }
    #menu-icon {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    html { font-size: 1.25rem; }
    
    input[type=radio], input[type=checkbox] {
        vertical-align: sub;
    }
    
    .wrapper-xl, .container-xl { max-width: 1080px; }
    .wrapper-l, .container-l { max-width: 960px; }
    .wrapper, .container { max-width: 800px; }
    .wrapper-s, .container-s { max-width: 756px; }
    .wrapper-xs, .container-xs { max-width: 640px; }
}

@media screen and (min-width: 1800px) {
    html { font-size: 1.6rem; }
    
    .wrapper-xl, .container-xl { max-width: 1440px; }
    .wrapper-l, .container-l { max-width: 1280px; }
    .wrapper, .container { max-width: 1080px; }
    .wrapper-s, .container-s { max-width: 960px; }
    .wrapper-xs, .container-xs { max-width: 800px; }
}

body { color: #333333; background-color: #fafafa; }
a { color: #006fff; }
a:hover, a.selected:hover, a:visited:hover { color: #2ec04f; }
a:visited { color: #4e4cd0; }
a.selected { color: #a648d9; }
input, textarea, select { color: #333333; background-color: #ffffff; border: 2px solid #e0e0e0; }
input:focus, textarea:focus, select:focus { border: 2px solid #838383; }
input[type=radio]:checked:after, input[type=checkbox]:checked:after, input[type=reset], input[type=submit], a.button, button { color: #ffffff; background-color: #006fff;}
input[type=reset]:hover, input[type=submit]:hover, a.button:hover, button:hover { color: #ffffff; background-color: #2ec04f; }
#menu-icon span, #menu-icon span:before, #menu-icon span:after { background-color: #e0e0e0; }
thead tr { background-color: #ffffff; }

.color, a:visited.color { color: #ffffff; }
.color-1, a:visited.color-1 { color: #fafafa; }
.color-2, a:visited.color-2 { color: #f5f5f5; }
.color-3, a:visited.color-3 { color: #f0f0f0; }
.color-4, a:visited.color-4 { color: #ebebeb; }
.color-5, a:visited.color-5 { color: #e6e6e6; }
.color-6, a:visited.color-6 { color: #e0e0e0; }
.color-accent, a:visited.color-accent { color: #000000; }
.color-1-accent, a:visited.color-1-accent { color: #4d4d4d; }
.color-2-accent, a:visited.color-2-accent { color: #404040; }
.color-3-accent, a:visited.color-3-accent { color: #333333; }
.color-4-accent, a:visited.color-4-accent { color: #262626; }
.color-5-accent, a:visited.color-5-accent { color: #1a1a1a; }
.color-6-accent, a:visited.color-6-accent { color: #0d0d0d; }
.color-white, a:visited.color-white { color: #ffffff; }
.color-black, a:visited.color-black { color: #000000; }
.color-blue, a:visited.color-blue { color: #006fff; }
.color-green, a:visited.color-green { color: #2ec04f; }
.color-indigo, a:visited.color-indigo { color: #4e4cd0; }
.color-orange, a:visited.color-orange { color: #ff8a00; }
.color-pink, a:visited.color-pink { color: #ff284b; }
.color-purple, a:visited.color-purple { color: #a648d9; }
.color-red, a:visited.color-red { color: #ff342a; }
.color-teal, a:visited.color-teal { color: #50c1f9; }
.color-yellow, a:visited.color-yellow { color: #ffc500; }
.color-brown, a:visited.color-brown { color: #987953; }
.color-gray, a:visited.color-gray { color: #838388; }

.background, .button.background { background-color: #ffffff; }
.background-1, .button.background-1 { background-color: #fafafa; }
.background-2, .button.background-2 { background-color: #f5f5f5; }
.background-3, .button.background-3 { background-color: #f0f0f0; }
.background-4, .button.background-4 { background-color: #ebebeb; }
.background-5, .button.background-5 { background-color: #e6e6e6; }
.background-6, .button.background-6 { background-color: #e0e0e0; }
.background-accent, .button.background-accent { background-color: #000000; }
.background-1-accent, .button.background-1-accent { background-color: #4d4d4d; }
.background-2-accent, .button.background-2-accent { background-color: #404040; }
.background-3-accent, .button.background-3-accent { background-color: #333333; }
.background-4-accent, .button.background-4-accent { background-color: #262626; }
.background-5-accent, .button.background-5-accent { background-color: #1a1a1a; }
.background-6-accent, .button.background-6-accent { background-color: #0d0d0d; }
.background-white, .button.background-white { background-color: #ffffff; }
.background-black, .button.background-black { background-color: #000000; }
.background-blue, .button.background-blue { background-color: #006fff; }
.background-green, .button.background-green { background-color: #2ec04f; }
.background-indigo, .button.background-indigo { background-color: #4e4cd0; }
.background-orange, .button.background-orange { background-color: #ff8a00; }
.background-pink, .button.background-pink { background-color: #ff284b; }
.background-purple, .button.background-purple { background-color: #a648d9; }
.background-red, .button.background-red { background-color: #ff342a; }
.background-teal, .button.background-teal { background-color: #50c1f9; }
.background-yellow, .button.background-yellow { background-color: #ffc500; }
.background-brown, .button.background-brown { background-color: #987953; }
.background-gray, .button.background-gray { background-color: #838388; }

.color-blue-accent, a:visited.color-blue:hover, a.color-blue:hover { color: #0024D4; }
.color-green-accent, a:visited.color-green:hover, a.color-green:hover { color: #217A2E; }
.color-indigo-accent, a:visited.color-indigo:hover, a.color-indigo:hover { color: #282092; }
.color-orange-accent, a:visited.color-orange:hover, a.color-orange:hover { color: #BB2104; }
.color-pink-accent, a:visited.color-pink:hover, a.color-pink:hover { color: #C60035; }
.color-purple-accent, a:visited.color-purple:hover, a.color-purple:hover { color: #752C9A; }
.color-red-accent, a:visited.color-red:hover, a.color-red:hover { color: #CA0012; }
.color-teal-accent, a:visited.color-teal:hover, a.color-teal:hover { color: #0B5D93; }
.color-yellow-accent, a:visited.color-yellow:hover, a.color-yellow:hover { color: #8E4803; }
.color-brown-accent, a:visited.color-brown:hover, a.color-brown:hover { color: #6C5235; }
.color-gray-accent, a:visited.color-gray:hover, a.color-gray:hover { color: #56565B; }

.background-blue-accent, .button.background-blue:hover { background-color: #0024D4; }
.background-green-accent, .button.background-green:hover { background-color: #217A2E; }
.background-indigo-accent, .button.background-indigo:hover { background-color: #282092; }
.background-orange-accent, .button.background-orange:hover { background-color: #BB2104; }
.background-pink-accent, .button.background-pink:hover { background-color: #C60035; }
.background-purple-accent, .button.background-purple:hover { background-color: #752C9A; }
.background-red-accent, .button.background-red:hover { background-color: #CA0012; }
.background-teal-accent, .button.background-teal:hover { background-color: #0B5D93; }
.background-yellow-accent, .button.background-yellow:hover { background-color: #8E4803; }
.background-brown-accent, .button.background-brown:hover { background-color: #6C5235; }
.background-gray-accent, .button.background-gray:hover { background-color: #56565B; }

.border-color { border-color: #ffffff; }
.border-color-1 { border-color: #fafafa; }
.border-color-2 { border-color: #f5f5f5; }
.border-color-3 { border-color: #f0f0f0; }
.border-color-4 { border-color: #ebebeb; }
.border-color-5 { border-color: #e6e6e6; }
.border-color-6 { border-color: #e0e0e0; }
.border-color-accent { border-color: #000000; }
.border-color-1-accent { border-color: #4d4d4d; }
.border-color-2-accent { border-color: #404040; }
.border-color-3-accent { border-color: #333333; }
.border-color-4-accent { border-color: #262626; }
.border-color-5-accent { border-color: #1a1a1a; }
.border-color-6-accent { border-color: #0d0d0d; }
.border-color-white { border-color: #ffffff; }
.border-color-black { border-color: #000000; }
.border-color-blue { border-color: #006fff; }
.border-color-green { border-color: #2ec04f; }
.border-color-indigo { border-color: #4e4cd0; }
.border-color-orange { border-color: #ff8a00; }
.border-color-pink { border-color: #ff284b; }
.border-color-purple { border-color: #a648d9; }
.border-color-red { border-color: #ff342a; }
.border-color-teal { border-color: #50c1f9; }
.border-color-yellow { border-color: #ffc500; }
.border-color-brown { border-color: #987953; }
.border-color-gray { border-color: #838388; }

@media (prefers-color-scheme: dark) {

    body { color: #ebebeb; background-color: #0d0d0d; }
    a { color: #0d79ff; }
    a:hover, a.selected:hover, a:visited:hover { color: #2acb4e; }
    a:visited { color: #5352e2; }
    a.selected { color: #b750f0; }
    input, textarea, select { color: #ebebeb; background-color: #000000; border: 2px solid #4d4d4d; }
    input:focus, textarea:focus, select:focus { border: 2px solid #838383; }
    input[type=radio]:checked:after, input[type=checkbox]:checked:after, input[type=reset], input[type=submit], a.button, button { color: #ffffff; background-color: #0d79ff;}
    input[type=reset]:hover, input[type=submit]:hover, a.button:hover, button:hover { color: #ffffff; background-color: #2acb4e; }
    #menu-icon span, #menu-icon span:before, #menu-icon span:after { background-color: #4d4d4d; }
    thead tr { background-color: #000000; }
    
    .color, a:visited.color { color: #000000; }
    .color-1, a:visited.color-1 { color: #0d0d0d; }
    .color-2, a:visited.color-2 { color: #1a1a1a; }
    .color-3, a:visited.color-3 { color: #262626; }
    .color-4, a:visited.color-4 { color: #333333; }
    .color-5, a:visited.color-5 { color: #404040; }
    .color-6, a:visited.color-6 { color: #4d4d4d; }
    .color-accent, a:visited.color-accent { color: #ffffff; }
    .color-1-accent, a:visited.color-1-accent { color: #e0e0e0; }
    .color-2-accent, a:visited.color-2-accent { color: #e6e6e6; }
    .color-3-accent, a:visited.color-3-accent { color: #ebebeb; }
    .color-4-accent, a:visited.color-4-accent { color: #f0f0f0; }
    .color-5-accent, a:visited.color-5-accent { color: #f5f5f5; }
    .color-6-accent, a:visited.color-6-accent { color: #fafafa; }
    .color-white, a:visited.color-white { color: #ffffff; }
    .color-black, a:visited.color-black { color: #000000; }
    .color-blue, a:visited.color-blue { color: #0d79ff; }
    .color-green, a:visited.color-green { color: #2acb4e; }
    .color-indigo, a:visited.color-indigo { color: #5352e2; }
    .color-orange, a:visited.color-orange { color: #ff950d; }
    .color-pink, a:visited.color-pink { color: #ff3054; }
    .color-purple, a:visited.color-purple { color: #b750f0; }
    .color-red, a:visited.color-red { color: #ff3c33; }
    .color-teal, a:visited.color-teal { color: #59ccff; }
    .color-yellow, a:visited.color-yellow { color: #ffd00d; }
    .color-brown, a:visited.color-brown { color: #a2835d; }
    .color-gray, a:visited.color-gray { color: #8d8d92; }

    .background, .button.background { background-color: #000000; }
    .background-1, .button.background-1 { background-color: #0d0d0d; }
    .background-2, .button.background-2 { background-color: #1a1a1a; }
    .background-3, .button.background-3 { background-color: #262626; }
    .background-4, .button.background-4 { background-color: #333333; }
    .background-5, .button.background-5 { background-color: #404040; }
    .background-6, .button.background-6 { background-color: #4d4d4d; }
    .background-accent, .button.background-accent { background-color: #ffffff; }
    .background-1-accent, .button.background-1-accent { background-color: #e0e0e0; }
    .background-2-accent, .button.background-2-accent { background-color: #e6e6e6; }
    .background-3-accent, .button.background-3-accent { background-color: #ebebeb; }
    .background-4-accent, .button.background-4-accent { background-color: #f0f0f0; }
    .background-5-accent, .button.background-5-accent { background-color: #f5f5f5; }
    .background-6-accent, .button.background-6-accent { background-color: #fafafa; }
    .background-white, .button.background-white { background-color: #ffffff; }
    .background-black, .button.background-black { background-color: #000000; }
    .background-blue, .button.background-blue { background-color: #0d79ff; }
    .background-green, .button.background-green { background-color: #2acb4e; }
    .background-indigo, .button.background-indigo { background-color: #5352e2; }
    .background-orange, .button.background-orange { background-color: #ff950d; }
    .background-pink, .button.background-pink { background-color: #ff3054; }
    .background-purple, .button.background-purple { background-color: #b750f0; }
    .background-red, .button.background-red { background-color: #ff3c33; }
    .background-teal, .button.background-teal { background-color: #59ccff; }
    .background-yellow, .button.background-yellow { background-color: #ffd00d; }
    .background-brown, .button.background-brown { background-color: #a2835d; }
    .background-gray, .button.background-gray { background-color: #8d8d92; }
    
    .border-color { border-color: #000000; }
    .border-color-1 { border-color: #0d0d0d; }
    .border-color-2 { border-color: #1a1a1a; }
    .border-color-3 { border-color: #262626; }
    .border-color-4 { border-color: #333333; }
    .border-color-5 { border-color: #404040; }
    .border-color-6 { border-color: #4d4d4d; }
    .border-color-accent { border-color: #ffffff; }
    .border-color-1-accent { border-color: #e0e0e0; }
    .border-color-2-accent { border-color: #e6e6e6; }
    .border-color-3-accent { border-color: #ebebeb; }
    .border-color-4-accent { border-color: #f0f0f0; }
    .border-color-5-accent { border-color: #f5f5f5; }
    .border-color-6-accent { border-color: #fafafa; }
    .border-color-white { border-color: #ffffff; }
    .border-color-black { border-color: #000000; }
    .border-color-blue { border-color: #0d79ff; }
    .border-color-green { border-color: #2acb4e; }
    .border-color-indigo { border-color: #5352e2; }
    .border-color-orange { border-color: #ff950d; }
    .border-color-pink { border-color: #ff3054; }
    .border-color-purple { border-color: #b750f0; }
    .border-color-red { border-color: #ff3c33; }
    .border-color-teal { border-color: #59ccff; }
    .border-color-yellow { border-color: #ffd00d; }
    .border-color-brown { border-color: #a2835d; }
    .border-color-gray { border-color: #8d8d92; }
}
