#logo img {
    width: 8rem;
    line-height: 0;
    vertical-align: bottom;
}
.nav {
    list-style: none;
    overflow: hidden;
    clear: both;
    max-height: 0;
    transition: all .2s ease-in-out;
}
.nav li {
    padding: 0.5rem 1rem;
    padding-right: 1rem;
}
#menu-icon {
   cursor: pointer;
   display: inline-block;
   float: right;
   padding: 1rem;
   position: relative;
   top: 6px;
}
#menu-icon span, #menu-icon span:before, #menu-icon span:after {
    display: block;
    border-radius: 2px;
}
#menu-icon span {
   position: relative;
   transition: background .2s ease-in-out;
   width: 20px;
   height: 2px;
}
#menu-icon span:before, #menu-icon span:after {
    content: '';
    position: absolute;
    transition: all .2s ease-in-out;
    width: 100%;
    height: 100%;
}
#menu-icon span:before {
    top: 6px;
}
#menu-icon span:after {
    top: -6px;
}
#menu-button {
    display: none;
}
#menu-button:checked ~ .nav {
    max-height: 30rem;
    padding-top: 1rem;
}
#menu-button:checked ~ #menu-icon span {
    background: transparent;
}
#menu-button:checked ~ #menu-icon span:before {
    transform: rotate(-45deg);
}
#menu-button:checked ~ #menu-icon span:after {
    transform: rotate(45deg);
}
#menu-button:checked ~ #menu-icon:not(.steps) span:before,
#menu-button:checked ~ #menu-icon:not(.steps) span:after {
    top: 0;
}
@media screen and (min-width: 900px) {
    .nav {
        clear: none;
        float: right;
        max-height: none;
        padding-top: 0;
    }
    .nav li {
        float: left;
        padding: 0.5rem;
    }
    #menu-icon {
        display: none;
    }
}
