.border-xl { border-width: 16px; border-style: solid;; }
.border-l { border-width: 8px; border-style: solid;; }
.border { border-width: 4px; border-style: solid;; }
.border-s { border-width: 2px; border-style: solid;; }
.border-xs { border-width: 1px; border-style: solid;; }
.border-vertical-xl { border-top-width: 16px; border-bottom-width: 16px; border-top-style: solid; border-bottom-style: solid; }
.border-vertical-l { border-top-width: 8px; border-bottom-width: 8px; border-top-style: solid; border-bottom-style: solid; }
.border-vertical { border-top-width: 4px; border-bottom-width: 4px; border-top-style: solid; border-bottom-style: solid; }
.border-vertical-s { border-top-width: 2px; border-bottom-width: 2px; border-top-style: solid; border-bottom-style: solid; }
.border-vertical-xs { border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; }
.border-top-xl { border-top-width: 16px; border-top-style: solid; }
.border-top-l { border-top-width: 8px; border-top-style: solid; }
.border-top { border-top-width: 4px; border-top-style: solid; }
.border-top-s { border-top-width: 2px; border-top-style: solid; }
.border-top-xs { border-top-width: 1px; border-top-style: solid; }
.border-bottom-xl { border-bottom-width: 16px; border-bottom-style: solid; }
.border-bottom-l { border-bottom-width: 8px; border-bottom-style: solid; }
.border-bottom { border-bottom-width: 4px; border-bottom-style: solid; }
.border-bottom-s { border-bottom-width: 2px; border-bottom-style: solid; }
.border-bottom-xs { border-bottom-width: 1px; border-bottom-style: solid; }
.border-horizontal-xl { border-left-width: 16px; border-right-width: 16px; border-left-style: solid; border-right-style: solid; }
.border-horizontal-l { border-left-width: 8px; border-right-width: 8px; border-left-style: solid; border-right-style: solid; }
.border-horizontal { border-left-width: 4px; border-right-width: 4px; border-left-style: solid; border-right-style: solid; }
.border-horizontal-s { border-left-width: 2px; border-right-width: 2px; border-left-style: solid; border-right-style: solid; }
.border-horizontal-xs { border-left-width: 1px; border-right-width: 1px; border-left-style: solid; border-right-style: solid; }
.border-left-xl { border-left-width: 16px; border-left-style: solid; }
.border-left-l { border-left-width: 8px; border-left-style: solid; }
.border-left { border-left-width: 4px; border-left-style: solid; }
.border-left-s { border-left-width: 2px; border-left-style: solid; }
.border-left-xs { border-left-width: 1px; border-left-style: solid; }
.border-right-xl { border-right-width: 16px; border-right-style: solid; }
.border-right-l { border-right-width: 8px; border-right-style: solid; }
.border-right { border-right-width: 4px; border-right-style: solid; }
.border-right-s { border-right-width: 2px; border-right-style: solid; }
.border-right-xs { border-right-width: 1px; border-right-style: solid; }

.border-radius-full { border-radius: 9999px; }
.border-radius-xl { border-radius: 3rem; }
.border-radius-l { border-radius: 2.25rem; }
.border-radius { border-radius: 1.5rem; }
.border-radius-s { border-radius: 0.75rem; }
.border-radius-xs { border-radius: 0.375rem; }
.border-radius-zero { border-radius: 0; }

.size-auto, .size-width-auto { width: auto; }
.size-full, .size-width-full { width: 100%; }
.size-xl, .size-width-xl { width: 256px; }
.size-l, .size-width-l { width: 128px; }
.size, .size-width { width: 64px; }
.size-s, .size-width-s { width: 32px; }
.size-xs, .size-width-xs { width: 16px; }
.size-zero, .size-width-zero { width: 0; }

.size-auto, .size-height-auto { height: auto; }
.size-full, .size-height-full { height: 100%; }
.size-xl, .size-height-xl { height: 256px; }
.size-l, .size-height-l { height: 128px; }
.size, .size-height { height: 64px; }
.size-s, .size-height-s { height: 32px; }
.size-xs, .size-height-xs { height: 16px; }
.size-zero, .size-height-zero { height: 0; }



.shadow-full { box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; }
.shadow-xl { box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; }
.shadow-l { box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }
.shadow { box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; }
.shadow-s { box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; }
.shadow-xs { box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; }
.shadow-zero { box-shadow: none; }

.inner-shadow-full { box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px inset; }
.inner-shadow-xl { box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px inset, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px inset; }
.inner-shadow-l { box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px inset, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px inset; }
.inner-shadow { box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px inset, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px inset; }
.inner-shadow-s { box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px inset, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px inset; }
.inner-shadow-xs { box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px inset; }

.rotate-left-full { transform: rotate(-90deg); }
.rotate-left-xl { transform: rotate(-60deg); }
.rotate-left-l { transform: rotate(-45deg); }
.rotate-left { transform: rotate(-30deg); }
.rotate-left-s { transform: rotate(-15deg); }
.rotate-left-xs { transform: rotate(-5deg); }

.rotate-right-full { transform: rotate(90deg); }
.rotate-right-xl { transform: rotate(60deg); }
.rotate-right-l { transform: rotate(45deg); }
.rotate-right { transform: rotate(30deg); }
.rotate-right-s { transform: rotate(15deg); }
.rotate-right-xs { transform: rotate(5deg); }

.rotate-zero { transform: rotate(0deg); }

