#let(admin = true)
#define(main):
<style>
    .card .content svg {
        width: var(--font-size-3xl);
        height: var(--font-size-3xl);
        color: var(--color-1);
        position: absolute;
        top: var(--space);
        right: var(--space);
    }
    .card .content nav a {
        display: block;
    }
</style>

<div class="lead">
    <h1>Dashboard</h1>
    <p>Welcome <strong>root@feathercms.com</strong>, this is your admin interface.</p>
</div>
<div class="grid-321">
    
    <div class="card">
        <div class="content">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
            <h2>User</h2>
            <nav>
                <a href="/form/">Permissions</a>
                <a href="#">Roles</a>
                <a href="#">Users</a>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
            <h2>User</h2>
            <nav>
                <a href="#">Permissions</a>
                <a href="#">Roles</a>
                <a href="#">Users</a>
            </nav>
        </div>
    </div>
    
    <div class="card">
        <div class="content">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
            <h2>User</h2>
            <nav>
                <a href="#">Permissions</a>
                <a href="#">Roles</a>
                <a href="#">Users</a>
            </nav>
        </div>
    </div>
    
    <div class="card">
        <div class="content">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
            <h2>User</h2>
            <nav>
                <a href="#">Permissions</a>
                <a href="#">Roles</a>
                <a href="#">Users</a>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
            <h2>User</h2>
            <nav>
                <a href="#">Permissions</a>
                <a href="#">Roles</a>
                <a href="#">Users</a>
            </nav>
        </div>
    </div>
    
    <div class="card">
        <div class="content">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
            <h2>User</h2>
            <nav>
                <a href="#">Permissions</a>
                <a href="#">Roles</a>
                <a href="#">Users</a>
            </nav>
        </div>
    </div>

</div>
#enddefine

#inline("index")
