#let(admin = true)
#define(main):

<div class="lead container">

    <div class="segment grid-2">
        <a href="/">Edit variable</a>
        <a href="/">Show metadata</a>
    </div>
    
    <h1>Variable</h1>
</div>

<div class="container">


    <dl>
        <dt>Title</dt>
        <dd>Lorem ipsum</dd>
        
        <dt>Description</dt>
        <dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dignissim tellus fringilla ex iaculis, vitae vehicula turpis varius. Quisque varius pharetra arcu, et molestie elit commodo eget. </dd>
    </dl>

    <a href="/" class="destructive">Delete variable</a>
</form>

</div>
#enddefine

#inline("index")
