#define(main):

<div class="lead container">
    <h1>Weekly Swift articles</h1>
    <p>About server side and iOS application development using Swift.</p>
    <a href="/">View</a> &middot;
    <a href="/">Metadata</a> &middot;
    <a href="/">Delete</a>
</div>

<div class="container">

<form>
   <fieldset>
       <legend>Lorem ipsum</legend>

       <section>
           <input type="text" placeholder="Email address">
       </section>
       
       <section>
           <input type="checkbox" id="checkbox-1" checked><label for="checkbox-1">Lorem ipsum</label><br>
           <input type="checkbox" id="checkbox-2"><label for="checkbox-2">Dolor sit amet</label><br>
           <input type="checkbox" id="checkbox-3"><label for="checkbox-3">Lorem ipsum dolor sit amet</label><br>
       </section>

       <section>
           <input type="radio" id="radio-1" name="radio"><label for="radio-1">Lorem ipsum</label><br>
           <input type="radio" id="radio-2" name="radio" checked><label for="radio-2">Dolor sit amet</label><br>
           <input type="radio" id="radio-3" name="radio"><label for="radio-3">Lorem ipsum dolor sit amet</label><br>
       </section>
       
       <section>
           <select>
               <option>Lorem ipsum</option>
               <option>Dolor sit amet</option>
               <option>Lorem ipsum dolor sit amet</option>
               <option>Ipsum dolor sit amet</option>
           </select>
       </section>
       
       <section>
           <select multiple="multiple">
               <option>Lorem ipsum</option>
               <option>Dolor sit amet</option>
               <option>Lorem ipsum dolor sit amet</option>
               <option>Ipsum dolor sit amet</option>
           </select>
       </section>

       <section>
           <textarea placeholder="Lorem ipsum"></textarea>
       </section>

       <section>
           <input type="file">
       </section>

       <section>
           <button>Submit form</button>
       </section>

       <section>
           <input type="submit" value="Submit">
       </section>

       <section>
           <input type="reset" value="Reset">
       </section>

       <section>
           <span class="error">Lorem ipsum dolor sit amet</span>
       </section>

   </fieldset>
</form>

</div>
#enddefine

#inline("index")
